img.logo {
    width: 66px;
}

.header-container {
    display: grid;
    justify-items: center;
    align-items: center;
    height: 192px;
    background-image: url('/header-background.png');
    background-size: cover;
}