.movieDetails {
    background: #081B23;
    position: relative;
}

.backdrop {
    width: 100%;
}

.backButton {
    position: absolute;
    top: 30px;
    left: 20px;
    width: 24px;
}

.contentArea {
    width: 100%;
    float: left;
    box-sizing: border-box;
    padding: 0 5% 20px 5%;
    min-height: auto;
    margin: 0 auto;
    position: relative;
    z-index: 10;
    margin-top: -50px;
    clear: both;
    border-bottom: 1px solid #0F303D;
}

.posterMovie {
    width: 32%;
    display: block;
    margin-right:5%;
    float: left;
    border-radius: 10px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.5), 0px 8px 16px rgba(0, 0, 0, 0.5), 0px 16px 32px rgba(0, 0, 0, 0.5);
}

.movieInfo {
    padding-top: 45px;
    font-family: Montserrat;
    font-weight: normal;
    font-size: 12px;
    line-height: 21px;
    color: #B8D8E6;
    h1 {
        font-family: 'Montserrat';
        color: #E3F4FC;
        font-weight: bold;
        font-size: 28px;
        line-height: 30px;
    }
    width: 63%;
    display: block;
    float: right;
}

.Overview {
    width: 100%;
    float: left;
    box-sizing: border-box;
    padding: 0 5%;
    padding-bottom: 100px;
    margin: 0 auto;
    margin-top: 5px;
    h2 {
        font-family: 'Montserrat';
        color: #E3F4FC;
        font-size: 20px;
    }
    p {
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 24px;
        color: #9FBBC7;
    }
}