.pageContainer {
    width: 90%;
    padding-top: 25px;
    margin: 0 auto;
}

.movieContainer {
    display: grid;
    margin: 0 auto;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 32px;
    grid-row-gap: 22px;
    @media only screen and (min-width: 768px) {
        grid-template-columns: 1fr 1fr 1fr;
    }
    @media only screen and (min-width: 1024px) {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

.movieListTitle {
    font-family: 'Montserrat', sans-serif;
    color: #E3F4FC;
    font-size: 20px;
}