.cardContainer {
    position: relative;
    width: 100%;
}

.movieCard {
    width: 100%;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
}

span.rating {
    color: white;
    background: #01D277;
    text-align: center;
    border-radius: 8px;
    position: absolute;
    font-size: 12px;
    font-weight: 700;
    padding: 5px 3px;
    width: 40px;
    left: 5px;
    top: 5px;
    &.purple {
        background: #4902A3;
    }
    &.red {
        background: #D1225B;
    }
}

.movieTitle {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #E6F7FF;
    text-decoration: none;
    margin-bottom: 5px;
    margin-top: 9px;
}

.movieDate {
    font-family: Roboto;
    margin-top: 0px;
    margin-bottom: 0px;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: #A1D1E6;
}
