form {
    display: grid;
    width: 90%;
    margin: 0 auto;
    position: relative;
    justify-items: center;
}

.searchBar {
    width: 100%;
    height: 44px;
    border-radius: 22px;
    margin-top: -10px;
    background-image: url('/search.png');
    background-position: right;
    background-repeat: no-repeat;
    box-sizing: border-box;
    padding-left: 20px;
    border: none;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
    outline: none;
}

.searchBar, ::placeholder {
    color: #01D277;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
}

.inputIcon {
    position: absolute;
    width: 16px;
    height: 16px;
    top: 5px;
    right: 18px;
}